.app,
.login-container,
.chat-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-container {
  justify-content: center;
  align-items: center;
}

.login-container input,
.message-input input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-list {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  /* background: #f5f5f5; */
}

.message-item {
  margin-bottom: 5px;
}

.message-item strong {
  color: #007bff;
}

.message-input {
  display: flex;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ccc;
}
