.navbar {
  display: flex;
  justify-content: space-between;
  /* background: #007bff; */
  /* color: white; */
  padding: 10px;
}
.login-container button,
.message-input button,
.navbar button {
  padding: 8px 12px;
  margin-left: 5px;
  background: var(--mainColor);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa; /* nền sáng */
  padding: 15px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar button {
  background-color: #4cafef; /* xanh nhạt */
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 15px;
  transition: background-color 0.2s ease;
}

.sidebar button:hover {
  background-color: #399edc;
}

.sidebar h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* đẩy nội dung xuống nếu cần */
  overflow-y: auto;
}

.sidebar li {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.sidebar li:hover {
  background-color: #e3f2fd;
}
